:root {
    --color-inputs: linear-gradient(
        0deg, 
        rgba(105,3,3,0.7539216370141807) 7%, 
        rgba(55,10,10,0.8435574913559174) 46%, 
        rgba(105,3,3,0.8799720571822479) 56%
        ); 
}


@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=BIZ+UDGothic&family=Bebas+Neue&family=Exo:ital,wght@1,300&family=Hubballi&family=Lato:wght@300&family=Mohave:ital,wght@1,600&family=Open+Sans:wght@700&family=PT+Sans+Narrow&family=Roboto:wght@300&family=Smooch+Sans:wght@100&family=Teko:wght@300&display=swap');


html {
    font-size: 10px;
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: rgb(228,51,51);
    background: linear-gradient(0deg, rgba(228,51,51,1) 0%, rgba(0,0,0,1) 79%); 
    background-attachment: fixed;
    font-weight: 700;
    color: white;
}